body{
    padding: 0px;
    margin: 0px;  
    max-width: 100vw;  
    overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
    background: var(--green);
}

::-webkit-scrollbar-thumb{
    background-color: var(--lightBlue);
    border-radius: 100px;
}


:root{
    --green: #5A6B3A;
    --brown: #997757;
    --lightBlue: #C8D8F2;
    --space: 2.5rem;
}

.bg {
    background-image: linear-gradient(rgba(200, 216, 242, 0.8)),
        url("/images/ice\ texture.jpg");

    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    position: relative;

    width: 100%;
    max-width: 100%;
    overflow-x: clip;
}


h1, h2, h3, h4, h5, h6{
    color: var(--green);
    font-size: 80px;
    margin: 0px;
    max-width: fit-content;
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    z-index: 10;
}

p{
    max-width: fit-content;
    color: var(--green);
    font-size: 32px;
    font-weight: 300;
    font-family: "Alexandria", sans-serif;
    margin: 0px;
    z-index: 20;
}

button::selection, a::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection{
    color: var(--lightBlue);
    background: var(--brown);
}

.navbar {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 5rem;
    height: 90vh;
    background-image: linear-gradient(rgba(90, 107, 58, 0.521)),
  url("/images/ice\ texture.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    z-index: 30;
    transition: ease-in-out 0.3s;
}



#one::before{
    content: "01.";
}

#two::before{
    content: "02.";
}

#three::before{
    content: "03.";
}

#four::before{
    content: "04.";
}

#five::before{
    content: "05.";
}

#six::before{
    content: "06.";
}

#navBarr:hover #one::before{
    content: "01.Pokoje";
}

#navBarr:hover #two::before{
    content: "02.Uslugi";
}

#navBarr:hover #three::before{
    content: "03.Okolica";
}

#navBarr:hover #four::before{
    content: "04.Kontakt";
}

#navBarr:hover #five::before{
    content: "05.Galeria";
}

  /* Section styles */
  .navbar-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
  }

.links{
    max-width: 2rem;
}

.navbar:hover .links{
    padding-left: 2rem;
}

.navT{
    color: rgba(57, 70, 35, 0.7);
    text-align: center;
    min-width: 100%;
}

  /* Links */
  .navbar a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    display: block;
    text-align: center;
    width: 100%;
    transition: background 0.3s;
  }

.hb{
    padding: 0.25rem;
    filter: saturate(150%);
    border-radius: 5px;
    background-color: var(--lightBlue);
    margin: 0.5rem;
    max-width: 3rem;
    min-width: 3rem;
}

.navbar a:hover {
    background-color: rgba(77, 95, 43, 0.3);
}

.navbar:hover{
    width: 15rem;
    align-items: baseline;
}

  

  /* Icons / text centering */
  .navbar a span {
    font-size: 1.5rem;
    display: block;
  }

.nav2{
    width: 430px;
    display: flex;
    justify-content: space-between;
}

a{
    font-size: 30px;
    color: var(--green);
    text-decoration: none;
}

.parallax-object {
  position: absolute;
  bottom: 20px; /* start near bottom */
  left: 50%;
  transform: translateX(-50%);
  font-size: 3rem;
  transition: transform 0.1s linear;
}

.hero{
    margin: 0;
    max-height: 90vh;
    overflow: hidden;
    min-width: 100vw; 
}

.bgH{
    z-index: 0;
    height: 110vh;
    background-image: url("/images/dom/WhatsApp\ Image\ 2025-05-21\ at\ 15.36.48_fcaff110.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    content: "";
    position: absolute;
    inset: 0;
    filter: saturate(150%) blur(5px);
    opacity: 60%;
}

.titleBtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100vh;
    gap: 2em;
}

.heroH{
    font-size: 7em;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }

}

.pH{
    font-size: 2.5em;
    font-family: "Unbounded", sans-serif;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 0.25s;
}

section{
    margin-inline: 46px calc(5rem + 46px);
    max-width: calc(100vw - 92px - 5rem);
    min-height: 120vh;
}

.btns{
    z-index: 11;
    display: flex;
    gap: 3rem;
}

button{
    border: none;
    background-color: var(--green);
    border-radius: 8px;
    padding: 6px 18px;
    transition: ease-in-out 0.3s;
}

button:hover{
    box-shadow: 0px 5px 5px rgba(68, 65, 65, 0.863);
    
}

.heroBtn{
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 0.6s;
}

.hT{
    background-color: rgb(90, 107, 58, 0.3);
    border: 3px solid var(--green);
}

.btnA{
    color: var(--lightBlue);
    font-size: 24px;
    font-weight: 300;
    font-family: "Alexandria", sans-serif;
}

.pokoje{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space);
}

.bT{
    color: var(--lightBlue);
    font-size: 1.5rem;
}

.tekst1{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--space);
}

.teksthorizontal{
    display: flex;
    gap: var(--space);
    flex-direction: row;
    padding-block: 5rem;
    justify-content: space-between;
}

.teksthorizontal>*{
    max-width: 50%;
}

.right{
    text-align: right;
}

.Img1{
    min-width: 50vw;
    min-height: 750px;
}

img{
          
  -webkit-user-drag: none; 
 
}

img::selection{
    background: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0);
}

.hover-icy {
  
  transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1), 
              filter 0.5s ease;
}

.hover-icy:hover {
  transform: translateY(-10px) scale(1.08) rotate(-3deg);
  filter: brightness(1.2) saturate(1.1);
  cursor: default;
}

/* Base state (hidden and offset) */
.slide-left,
.slide-right {
  opacity: 0;
  transform: translateX(0); /* we’ll override below */
  transition: all 0.8s cubic-bezier(0.25, 1, 0.5, 1);
}

.slide-left {
  transform: translateX(-100px); /* start left */
}

.slide-right {
  transform: translateX(100px); /* start right */
}

/* When visible, reset transform */
.slide-left.visible,
.slide-right.visible {
  opacity: 1;
  transform: translateX(0);
}


.uslugi{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.uslugiTekst{
 width: auto;
 display: flex;
 justify-content: space-between;
 align-items: baseline;
 flex-direction: column;
 max-width: 33%;
 gap: var(--space);
}

.teras{
    max-width: 33%;
    height: 90vh;
    object-fit: cover;
}

.bali{
    max-width: 33%;
    height: 50vh;
}

.oceny{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.reviewContainer{
    display: flex;
    justify-content: space-between;
    min-width: 40rem;
}

button{
    color: var(--lightBlue);
}

.okolicaZdj{
    width: 100%;
    max-height: 70vh;
    object-fit: cover;
    object-position: 0px 40%;
}

.okolicaTekst{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
    margin-bottom: 5rem;
}

footer{
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgb(107, 128, 68, 0.8)),
    url("/images/ice\ texture.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: var(--space);
    padding-block: var(--space);
    justify-content: space-between;
}

footer>*{
    margin-inline: 46px calc(5rem + 46px);
}

.mainFooter{
    display: flex;
    justify-content: space-between;
    margin-inline: 46px calc(5rem + 46px);
}

.footerImg>*>*>*{
    width: 8rem;
    height: 12rem;
    object-fit: cover;
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
}

.lesne{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.lesne>*{
    font-size: 11vw;
}

.lesne>p{
    z-index: 1;
}

.cursorTracker {
  position: absolute;
  left: 50%;
  transform-origin: center center;
  transform: translate(-50%, -50%) rotate(0deg);
  margin-top: 8rem;
  z-index: 2;
}

.cursorTracker img {
  width: 15rem; /* adjust width/height as needed */
  display: block;
}

.credits{
    display: flex;
    justify-content: space-between;
}




/*here ends the home page and will be followed by the uslugi page*/

.heroTemplate{
    margin-top: 2rem;
    max-width: calc(100vw - 92px - 5rem);
    max-height: 70vh;
    width: 100%;
    object-fit: cover;
}

.templateTekst{
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    margin-top: var(--space);
    align-items: baseline;
}

/*pokoje*/

.fioletowy{
    object-position: center center;
}

.tekstFioletowy{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
}

.imgRow > * > * > * {
    width: 12rem;
    height: 22rem;
    object-fit: cover;
    display: block;
}

.galeriaSec{
    min-height: 0px;
    padding-inline: 46px calc(5rem + 46px);
    padding-block: 1vh;
    margin: 0px;
}

.galeriaSec:nth-child(2n){
    padding-bottom: 20vh;
}

.galeriaHead{
    margin-bottom: 20vh;
    margin-top: 0px;
    padding-top: 5rem;
    margin-inline: 46px calc(5rem + 46px);
    max-width: calc(100vw - 92px - 5rem);
}

.dark{
    background-color: rgb(50, 53, 56, 0.8);
}

.maxWidth{
    max-width: 45vw;
    padding-bottom: 45vh;
}

.maxHeight{
    max-height: 80vh;
    padding: 0;
}

ol{
    width: 50vw;
    color: var(--green);
    font-size: 32px;
    font-weight: 300;
    font-family: "Alexandria", sans-serif;
    margin: 0px;
    z-index: 21;
}


@media (min-width: 991px){
.tablet{
    display: none;
}
}